.img-editor-container { display: grid; grid-template-columns: 1fr 200px 120px; }
.img-editor-container .canvas-container { position: relative; width: 500px; height: 500px; }
.img-editor-container .canvas-container #canvas { border: 1px solid #ccc; width: 100%; height: 100%; }


.img-editor-menu-child {}
.img-editor-menu { display: none; }
.show { display: block !important; }


.color-picker-result { background-color: #000; border: 0; width:32px; height: 32px; border-radius: 100%; }




.img-editor-menu-parent .menu-parent { }

